@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(80, 80, 95);
  color: white;
}

@font-face {
  font-family: "Bebas";
  src: url('/fonts/Bebas.ttf');
}

.intro-bg{
  background-image: url('/intro.png');
}

.title{
  color:#F0B631
}