@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(255, 255, 255);
  color: white;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

@font-face {
  font-family: "Bebas";
  src: url('/fonts/Bebas.ttf');
}

.intro-bg{
  background-image: url('/intro.webp');
}

.title{
  color:#F0B631
}

.radial-gradient{
  background: radial-gradient(50% 50% at 50% 50%, #231F20 0%, rgba(35, 31, 32, 0.54) 46.88%, rgba(53, 53, 53, 0.00) 100%);
  mix-blend-mode: overlay;
}


.drawPath {
  stroke-dasharray: 400%;
  stroke-dashoffset: 400%;
  animation: draw 4s ease-out forwards;
}

.drawShadow{
  box-shadow: 0px 0px 26px 53px rgba(35,31,32,0.75) inset;
-webkit-box-shadow: 0px 0px 26px 53px rgba(35,31,32,0.75) inset;
-moz-box-shadow: 0px 0px 26px 53px rgba(35,31,32,0.75) inset;
}

.fadeInside{
  animation: fadeIn 3s ease;
}

.home{
  background-image: url('/intro-bg.png');
}

@keyframes draw {
  from{
    transform: translateY(35%);
  }
  to {
    transform: translateY(0%);
    stroke-dashoffset: 0;
  }
}

.radialGradient{
  background: radial-gradient(50% 50% at 50% 50%, rgba(240, 183, 49, 0.514) 0%, rgba(240, 182, 49, 0.54) 18.65%, #231F20 100%);
  filter: blur(50px);
  background-blend-mode: lighten;
}

.slideLtoR{
  animation: LtoR 1.5s ease;
}

.slideRtoL{
  animation: RtoL 1.5s ease;
}

.slideGuardRtoL{
  animation: GuardRtoL 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slideBgLtoR{
  animation: bgLtoR 3s ease-out ;
}

.slideBottomLefttoRightTop0{
  animation: BottomLefttoRightTop0 1.5s ease-out;
}

.slideBottomLefttoRightTop1{
  animation: BottomLefttoRightTop1 1.5s ease-out;
}

.slideBottomUp{
  animation: BottomUp 2s ease-out;
}

.slideBottomUp1{
  animation: BottomUp1 4s ease-out;
}

@keyframes bgLtoR {
  from{
    background-position-x: -200px;
  }
  to{
    background-position-x: 0;
  }
}

@keyframes LtoR {
  from{
    scale: 0;
    transform: translateX(-50%);
  }
  to{
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes RtoL {
  from{
    scale: 0;
    transform: translateX(150%);
  }
  to{
    scale: 1;
    transform: translateX(0);
  }
}

@keyframes GuardRtoL {
  from{
    transform: translateX(150%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes BottomLefttoRightTop0 {
  from{
    transform: translate(-50%,50%);
  }
  to{
    transform: translate(0,0);
  }
}


@keyframes BottomLefttoRightTop1 {
  from{
    transform: translate(-75%,75%);
    opacity: 0.5;
  }
  to{
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes BottomUp {
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BottomUp1 {
  0%{
    opacity: 0;
    scale: 0.2;
    transform: translateY(75%);
  }
  60%{
    opacity: 1;
    scale: 1;
  }
  100%{
    opacity: 0;
    scale: 0;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from{
    opacity: 0.2;
    scale: 0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.outline-title {
  -webkit-text-stroke: 2px #F0B631;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.service-company{
  background-image: url('/company-security.png');
}
@media (max-width:768px) {
  .service-company{
    background-image: none
  }
}